.formSelect {
  margin-bottom: 30px;
}

.formSelect > label {
  font-size: 14px;
  margin-right: 15px;
}

.formSelect > select {
  background-color: #0f2027;
  border: 1px solid #f0f0f0;
  color: #f0f0f0;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  padding: 5px 15px;
}

.formSelect > select:focus {
  outline: 0;
}
